@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    border: 0;
}
.container-dark{
    width: 100%vh;
    background-color: #1e1e1e;
}

.container{
    width: 1600px;
    margin: auto;
    background-color: #111111;
}

.header{
    display: grid;
    grid-template-columns: 1fr 4fr;    
    color: #ffff;
    font-family: poppins;
}

.company-logo{
    padding-left: 4rem;
    padding-top: 2rem;
}

.navigation-items{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(5,1fr);
    /* border: red solid; */
    margin-top: 3rem;
    width: 50rem;
    margin-left: 15rem;
}
.section-1{
    display: grid;
    grid-template-columns: 1fr 2fr;    
    /* border: green solid ; */
    color: white;
}

.model-photo{
    width: 700px;    
}

.section-1-righ>h4{
    font-family: Montserrat;
    color: #f43140;
    margin-top: 200px;
}

.section-1-righ>h1{
    font-family: Montserrat;
    color: #ffffff;
    font-size: 60px;
}

.section-1-righ>.desc{
    color: #ffffff;
    font-family: Poppins;
    font-weight: 400;
    width: 550px;
    /* border: solid; */
    margin-top: 0;
}
.section-1-righ>.about-me{
    position: relative;
    width: 180px;
    height: 50px;
    color: #ffffff;
    background-color: #c91b28;
    margin-top: 30px;
}

.section-2, .section-3{
    background-image: url(../images/Background.svg);
    background-repeat: no-repeat;
    background-size: 1600px;
    /* border: pink solid;     */
    justify-content: space-between;
    justify-items: center;
}

.service-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    /* border: green solid; */
    justify-content: space-between;
    justify-items: center;
    margin-left: 320px;
    margin-right: 320px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-card{
    width: 250px;
    height: 280px;
    /* border: #ffffff solid; */
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Montserrat;
    padding-left: 45px;
    padding-top: 60px;
}
.service-card:hover{
    background-color: #c91b28;
    color: #ffffff;    
}

.service-card > .heading{
    margin-top: 20px;
    font-size: 20px;
}

.service-card > .desc{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
}

.service-card > .know-more{
    font-size: 13px;
    color: #c91b28;
    margin-top: 20px;
}


.section-3-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr,1fr;
    justify-content: space-between;
    justify-items: center;
    margin-left: 320px;
    margin-right: 320px;
    padding-top: 10px;
    /* border: red solid; */
    padding-bottom: 100px;
    row-gap: 35px;
    
}

.span-card{
    grid-row: 1 / span 2;
    /* border: red solid; */
    text-align: center;    
    padding-top: 20px;
    width: 250px;
}

.span-card h1{
    font-size: 100px;
    font-family: Montserrat;
    color: #c91b28;
}

.span-card h4{
    font-size: 20px;
    font-family: Montserrat;
    color: #ffffff;
}

.section-3-card{
    color: #ffff;
    height: 110px;
    width: 280px;
    /* border: red solid; */
    text-align: center;
    background-color: #1e1e1e;    
}

.section-3-card h1{
    font-size: 40px;
    font-family: Montserrat;
    color: #c91b28;
    padding-top: 10px;
}
.section-3-card h4{
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 200;
    color: #fff;
    padding-top: 10px;
}

.section-4-heading-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: green solid; */
    width: 1000px;
    margin: auto;
}

.section-4-heading{
    color: #ffff;
    font-family: Montserrat;
    /* padding-left: 200px;     */
    margin-top: 30px;
}

.section-4-head-desc{
    font-size: 13px;
    font-family: poppins;
    font-weight: 400;
    margin-top: 10px;
}

.section-4-button{
    width: 180px;
    height: 50px;
    color: #ffffff;
    background-color: #c91b28;
    margin-top: 30px;
    float: right;
}

.client-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1000px;
    margin: auto;
}

.client-card{
    /* border: red solid; */
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: #1e1e1e;
    
}
.client-image{
    width: 350px;
    padding: 25px;
}

.card-text{
    color: #fff;
    font-family: Montserrat;    
    font-size: 18px;
    /* margin-top: 5px; */
    padding-top: 20px;
    /* border: green solid; */
    background-color: #111111;
}

.know-more{
    color: #c91b28;
    font-family: poppins;
    /* margin-top: 3px; */
    padding-top: 3px;
    font-size: 15px;
    /* border: green solid; */
    background-color: #111111;
}

.section-5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: green solid; */
    width: 1100px;
    margin: auto;
    background-color: #1e1e1e;
    height: 250px;
    color: #ffff;
    margin-top: 70px;
}
.contact-heading{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
}
.contact-desc{
    font-family: poppins;
    font-size: 13px;
    font-weight: 400;
    padding-top: 10px;
}

.section-5-button{
    margin: auto;
    text-align: center;    
}

.section-5 > .contact{
    padding-top: 50px;
    padding-left: 50px;
    width: 600px;
}

.section-5-contact{
    width: 180px;
    height: 50px;
    color: #ffffff;
    background-color: #c91b28;
}


.footer-link{
    /* border: red solid; */
    color: #fff;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.footer-link-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    font-size: 12px;
}
.footer-icon{
    /* border: red solid; */
    background-color: #1e1e1e;
}

.social-media{
    margin-left: 34%;
    margin-bottom: 30px;
}